@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #ff6b6e;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #ff3434;
  --destructive-foreground: #fafafa;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #0a0a0a;
  --chart-1: #92c5ff;
  --chart-2: #317eff;
  --chart-3: #155dff;
  --chart-4: #0042f4;
  --chart-5: #022fca;
  --sidebar: #fafafa;
  --sidebar-foreground: #19191a;
  --sidebar-primary: #19191a;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #19191a;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: -15px;
  --shadow-y: 1px;
  --shadow-blur: 11.5px;
  --shadow-spread: -40.5px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
  --shadow-xs: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
  --shadow-sm: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 1px 2px -41.5px hsl(0 0% 0% / 0.00);
  --shadow: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 1px 2px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-md: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 2px 4px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-lg: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 4px 6px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-xl: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 8px 10px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-2xl: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #ff6b6e;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a3a3a3;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #930909;
  --destructive-foreground: #fafafa;
  --border: #262626;
  --input: #262626;
  --ring: #d4d4d4;
  --chart-1: #92c5ff;
  --chart-2: #317eff;
  --chart-3: #155dff;
  --chart-4: #0042f4;
  --chart-5: #022fca;
  --sidebar: #19191a;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #003dfa;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: -15px;
  --shadow-y: 1px;
  --shadow-blur: 11.5px;
  --shadow-spread: -40.5px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
  --shadow-xs: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
  --shadow-sm: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 1px 2px -41.5px hsl(0 0% 0% / 0.00);
  --shadow: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 1px 2px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-md: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 2px 4px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-lg: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 4px 6px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-xl: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00), -15px 8px 10px -41.5px hsl(0 0% 0% / 0.00);
  --shadow-2xl: -15px 1px 11.5px -40.5px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}